<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Certificate Generator for Dunes - History</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <div class="container" style="justify-content: start;">
            <div class="top-navbar">
                <div>Certificate System</div>
                <div class="profile-overview">
                    <span id="profile-overview-username"></span> &emsp; <a class="log-out" id="log-out">LOG OUT</a>
                </div>
            </div>
            <div class="navbar">
                <button onclick="window.location.href='/generate-dashboard'">Dashboard</button>
                <button onclick="window.location.href='/bulk-generate'">Bulk Generate</button>
                <button style="color: #2563EB; border-bottom: 3px solid #2563EB;" onclick="window.location.href='/generate-history'">History</button>
                <button onclick="window.location.href='/generate-students'">Students</button>
                <button onclick="window.location.href='/generate-profile'">Profile</button>
            </div>
            <div class="content">
                <table id="teacher-cert-table">
                    <tr>
                        <th>Certificate</th>
                        <th>Date</th>
                        <th>Student</th>
                        <th>Grade</th>
                        <th>Download</th>
                    </tr>
                </table>
            </div>            
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
        <script src="{{url_for('static', filename='generate-history.js')}}"></script>
    </body>
</html>